.chat-main
  .chat-main__header
    .chat-main__header__box
      .chat-main__header__box__group
        test
      .chat-main__header__box__member
        member : yuji
    .chat-main__header__edit-box
      = link_to "#", class: "edit__btn" do
        edit
  .chat-main__messages
    .chat-main__message
      .chat-main__message-top
        .chat-main__message__name
          masa
        .chat-main__message__date
          2020/02.20
      .chat-main__message-create
        おはよう
    .chat-main__message
      .chat-main__message-top
        .chat-main__message__name
          masa
        .chat-main__message__date
          2020/02.20
      .chat-main__message-create
        おはよう
  .chat-main__form
    %form
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a messag"}
        %label.input-box__image
          = icon('fas', 'image')
          %input{type:"file", class: "input-box__file"}
      %input{type: "submit", class: "submit-btn"}